<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>水濑</key>
	<array>
		<string>水濑1</string>
		<string>水濑2</string>
		<string>水濑3</string>
		<string>水濑4</string>
		<string>水濑5</string>
		<string>水濑6</string>
		<string>水濑7</string>
		<string>水濑8</string>
		<string>水濑9</string>
		<string>水濑10</string>
		<string>水濑11</string>
	</array>
	<key>驯鹿</key>
	<array>
		<string>驯鹿1</string>
		<string>驯鹿2</string>
		<string>驯鹿3</string>
		<string>驯鹿4</string>
		<string>驯鹿5</string>
		<string>驯鹿6</string>
		<string>驯鹿7</string>
	</array>
	<key>小马</key>
	<array>
		<string>小马1</string>
		<string>小马2</string>
		<string>小马3</string>
		<string>小马4</string>
		<string>小马5</string>
		<string>小马6</string>
		<string>小马7</string>
		<string>小马8</string>
		<string>小马9</string>
	</array>
	<key>小狗</key>
	<array>
		<string>小狗1</string>
		<string>小狗2</string>
		<string>小狗3</string>
		<string>小狗4</string>
		<string>小狗5</string>
		<string>小狗6</string>
		<string>小狗7</string>
		<string>小狗8</string>
	</array>
	<key>西红柿</key>
	<array>
		<string>西红柿1</string>
		<string>西红柿2</string>
		<string>西红柿3</string>
		<string>西红柿4</string>
	</array>
	<key>乌龟</key>
	<array>
		<string>乌龟1</string>
		<string>乌龟2</string>
		<string>乌龟3</string>
		<string>乌龟4</string>
		<string>乌龟5</string>
	</array>
	<key>兔子</key>
	<array>
		<string>兔子1</string>
		<string>兔子2</string>
		<string>兔子3</string>
		<string>兔子4</string>
		<string>兔子5</string>
		<string>兔子6</string>
		<string>兔子7</string>
		<string>兔子8</string>
		<string>兔子9</string>
		<string>兔子10</string>
	</array>
	<key>蛇</key>
	<array>
		<string>蛇1</string>
		<string>蛇2</string>
		<string>蛇3</string>
		<string>蛇4</string>
		<string>蛇5</string>
		<string>蛇6</string>
	</array>
	<key>青蛙</key>
	<array>
		<string>青蛙1</string>
		<string>青蛙2</string>
		<string>青蛙3</string>
		<string>青蛙4</string>
		<string>青蛙5</string>
		<string>青蛙6</string>
	</array>
	<key>蜜蜂</key>
	<array>
		<string>蜜蜂1</string>
		<string>蜜蜂2</string>
		<string>蜜蜂3</string>
		<string>蜜蜂4</string>
		<string>蜜蜂5</string>
		<string>蜜蜂6</string>
	</array>
	<key>猫头鹰</key>
	<array>
		<string>猫头鹰1</string>
		<string>猫头鹰2</string>
		<string>猫头鹰3</string>
		<string>猫头鹰4</string>
		<string>猫头鹰5</string>
		<string>猫头鹰6</string>
		<string>猫头鹰7</string>
	</array>
	<key>蚂蚁</key>
	<array>
		<string>蚂蚁1</string>
		<string>蚂蚁2</string>
		<string>蚂蚁3</string>
		<string>蚂蚁4</string>
		<string>蚂蚁5</string>
		<string>蚂蚁6</string>
		<string>蚂蚁7</string>
		<string>蚂蚁8</string>
		<string>蚂蚁9</string>
	</array>
	<key>老鼠</key>
	<array>
		<string>老鼠1</string>
		<string>老鼠2</string>
		<string>老鼠3</string>
	</array>
	<key>鸽子</key>
	<array>
		<string>鸽子1</string>
		<string>鸽子2</string>
		<string>鸽子3</string>
		<string>鸽子4</string>
		<string>鸽子5</string>
		<string>鸽子6</string>
	</array>
	<key>大象</key>
	<array>
		<string>大象1</string>
		<string>大象2</string>
		<string>大象3</string>
		<string>大象4</string>
		<string>大象5</string>
		<string>大象6</string>
	</array>
	<key>草莓</key>
	<array>
		<string>草莓1</string>
		<string>草莓2</string>
		<string>草莓3</string>
		<string>草莓4</string>
		<string>草莓5</string>
		<string>草莓6</string>
	</array>
	<key>毛毛虫</key>
	<array>
		<string>毛毛虫1</string>
		<string>毛毛虫2</string>
		<string>毛毛虫3</string>
		<string>毛毛虫4</string>
		<string>毛毛虫5</string>
		<string>毛毛虫6</string>
	</array>
	<key>蝴蝶</key>
	<array>
		<string>蝴蝶1</string>
		<string>蝴蝶2</string>
		<string>蝴蝶3</string>
		<string>蝴蝶4</string>
		<string>蝴蝶5</string>
	</array>
	<key>猫</key>
	<array>
		<string>猫1</string>
		<string>猫2</string>
		<string>猫3</string>
		<string>猫4</string>
		<string>猫5</string>
		<string>猫6</string>
		<string>猫7</string>
		<string>猫8</string>
	</array>
	<key>海豚</key>
	<array>
		<string>海豚1</string>
		<string>海豚2</string>
		<string>海豚3</string>
		<string>海豚4</string>
		<string>海豚5</string>
		<string>海豚6</string>
		<string>海豚7</string>
	</array>
</dict>
</plist>
