<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>爬山虎</string>
		<key>icon</key>
		<string>爬山虎</string>
		<key>options</key>
		<array>
			<string>单</string>
			<string>牵</string>
			<string>爬</string>
			<string>壁</string>
			<string>牛</string>
			<string>山</string>
			<string>天</string>
			<string>湖</string>
			<string>虎</string>
			<string>柳</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>梅花</string>
		<key>icon</key>
		<string>梅花</string>
		<key>options</key>
		<array>
			<string>绿</string>
			<string>茶</string>
			<string>花</string>
			<string>话</string>
			<string>美</string>
			<string>支</string>
			<string>梅</string>
			<string>草</string>
			<string>桃</string>
			<string>香</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>茉莉花</string>
		<key>icon</key>
		<string>茉莉花</string>
		<key>options</key>
		<array>
			<string>末</string>
			<string>丽</string>
			<string>莉</string>
			<string>花</string>
			<string>梨</string>
			<string>沫</string>
			<string>茉</string>
			<string>到</string>
			<string>茶</string>
			<string>睿</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>菊花</string>
		<key>icon</key>
		<string>菊花</string>
		<key>options</key>
		<array>
			<string>额</string>
			<string>跟</string>
			<string>阿</string>
			<string>器</string>
			<string>菊</string>
			<string>华</string>
			<string>花</string>
			<string>线</string>
			<string>比</string>
			<string>与</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>杜鹃</string>
		<key>icon</key>
		<string>杜鹃</string>
		<key>options</key>
		<array>
			<string>段</string>
			<string>哇</string>
			<string>只</string>
			<string>早</string>
			<string>杜</string>
			<string>鹃</string>
			<string>号</string>
			<string>昆</string>
			<string>平</string>
			<string>美</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>荷花</string>
		<key>icon</key>
		<string>荷花</string>
		<key>options</key>
		<array>
			<string>和</string>
			<string>加</string>
			<string>由</string>
			<string>荷</string>
			<string>戏</string>
			<string>凯</string>
			<string>呗</string>
			<string>迷</string>
			<string>内</string>
			<string>花</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>红玫瑰</string>
		<key>icon</key>
		<string>红玫瑰</string>
		<key>options</key>
		<array>
			<string>红</string>
			<string>厚</string>
			<string>黄</string>
			<string>玫</string>
			<string>哈</string>
			<string>笑</string>
			<string>贵</string>
			<string>瑰</string>
			<string>步</string>
			<string>喝</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>月季</string>
		<key>icon</key>
		<string>月季</string>
		<key>options</key>
		<array>
			<string>约</string>
			<string>会</string>
			<string>国</string>
			<string>价</string>
			<string>月</string>
			<string>近</string>
			<string>歌</string>
			<string>季</string>
			<string>乐</string>
			<string>咋</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>牡丹</string>
		<key>icon</key>
		<string>牡丹</string>
		<key>options</key>
		<array>
			<string>木</string>
			<string>牧</string>
			<string>牡</string>
			<string>德</string>
			<string>涩</string>
			<string>男</string>
			<string>看</string>
			<string>但</string>
			<string>丹</string>
			<string>雨</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>百合</string>
		<key>icon</key>
		<string>百合</string>
		<key>options</key>
		<array>
			<string>白</string>
			<string>把</string>
			<string>百</string>
			<string>撒</string>
			<string>答</string>
			<string>败</string>
			<string>荷</string>
			<string>合</string>
			<string>皮</string>
			<string>哦</string>
		</array>
	</dict>
</array>
</plist>
