<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>荔枝</string>
		<key>icon</key>
		<string>荔枝</string>
		<key>options</key>
		<array>
			<string>吠</string>
			<string>只</string>
			<string>支</string>
			<string>枝</string>
			<string>谁</string>
			<string>鱼</string>
			<string>肉</string>
			<string>荔</string>
			<string>啦</string>
			<string>里</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>柑橘</string>
		<key>icon</key>
		<string>桔子</string>
		<key>options</key>
		<array>
			<string>菊</string>
			<string>句 </string>
			<string>局</string>
			<string>剧</string>
			<string>橘</string>
			<string>柑</string>
			<string>干</string>
			<string>噶</string>
			<string>公</string>
			<string>骑</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>橙子</string>
		<key>icon</key>
		<string>橙子</string>
		<key>options</key>
		<array>
			<string>成</string>
			<string>称</string>
			<string>橙</string>
			<string>车</string>
			<string>吃</string>
			<string>茶</string>
			<string>子</string>
			<string>肆</string>
			<string>是</string>
			<string>建</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>香蕉</string>
		<key>icon</key>
		<string>香蕉</string>
		<key>options</key>
		<array>
			<string>项</string>
			<string>香</string>
			<string>瞎</string>
			<string>现</string>
			<string>象</string>
			<string>角</string>
			<string>叫</string>
			<string>蕉</string>
			<string>窝</string>
			<string>页</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>西瓜</string>
		<key>icon</key>
		<string>西瓜</string>
		<key>options</key>
		<array>
			<string>好</string>
			<string>戏</string>
			<string>西</string>
			<string>虎</string>
			<string>瓜</string>
			<string>海</string>
			<string>怕</string>
			<string>闹</string>
			<string>新</string>
			<string>振</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>苹果</string>
		<key>icon</key>
		<string>苹果</string>
		<key>options</key>
		<array>
			<string>品</string>
			<string>平</string>
			<string>苹</string>
			<string>荔</string>
			<string>子</string>
			<string>则</string>
			<string>在</string>
			<string>果</string>
			<string>熬</string>
			<string>见</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>榴莲</string>
		<key>icon</key>
		<string>榴莲</string>
		<key>options</key>
		<array>
			<string>溜</string>
			<string>留</string>
			<string>六</string>
			<string>连</string>
			<string>脸</string>
			<string>榴</string>
			<string>迷</string>
			<string>末</string>
			<string>莲</string>
			<string>区</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>梨</string>
		<key>icon</key>
		<string>梨</string>
		<key>options</key>
		<array>
			<string>啊</string>
			<string>哦</string>
			<string>饿</string>
			<string>去</string>
			<string>我</string>
			<string>平</string>
			<string>了</string>
			<string>吧</string>
			<string>才</string>
			<string>梨</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>葡萄</string>
		<key>icon</key>
		<string>葡萄</string>
		<key>options</key>
		<array>
			<string>铺</string>
			<string>破</string>
			<string>普</string>
			<string>葡</string>
			<string>他</string>
			<string>桃</string>
			<string>掏</string>
			<string>可</string>
			<string>为</string>
			<string>萄</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>桃</string>
		<key>icon</key>
		<string>桃</string>
		<key>options</key>
		<array>
			<string>啦</string>
			<string>铺</string>
			<string>后</string>
			<string>因</string>
			<string>格</string>
			<string>能</string>
			<string>掏</string>
			<string>桃</string>
			<string>问</string>
			<string>条</string>
		</array>
	</dict>
</array>
</plist>
