<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>猫</string>
		<key>icon</key>
		<string>猫</string>
		<key>options</key>
		<array>
			<string>没</string>
			<string>筽</string>
			<string>尓</string>
			<string>秒</string>
			<string>簿</string>
			<string>猫</string>
			<string>茅</string>
			<string>啊</string>
			<string>熬</string>
			<string>琪</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>公鸡</string>
		<key>icon</key>
		<string>公鸡</string>
		<key>options</key>
		<array>
			<string>公</string>
			<string>够</string>
			<string>莉</string>
			<string>木</string>
			<string>牧</string>
			<string>拟</string>
			<string>叶</string>
			<string>及</string>
			<string>鸡</string>
			<string>爱</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>兔子</string>
		<key>icon</key>
		<string>兔子</string>
		<key>options</key>
		<array>
			<string>图</string>
			<string>屠</string>
			<string>子</string>
			<string>只</string>
			<string>比</string>
			<string>倍</string>
			<string>腻</string>
			<string>兔</string>
			<string>啦</string>
			<string>批</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>毛驴</string>
		<key>icon</key>
		<string>毛驴</string>
		<key>options</key>
		<array>
			<string>猫</string>
			<string>毛</string>
			<string>熬</string>
			<string>爱</string>
			<string>婆</string>
			<string>绿</string>
			<string>驴</string>
			<string>奥</string>
			<string>诶</string>
			<string>玉</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>马</string>
		<key>icon</key>
		<string>马</string>
		<key>options</key>
		<array>
			<string>好</string>
			<string>就</string>
			<string>看</string>
			<string>可</string>
			<string>吧</string>
			<string>长</string>
			<string>马</string>
			<string>能</string>
			<string>铺</string>
			<string>我</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>羊</string>
		<key>icon</key>
		<string>羊</string>
		<key>options</key>
		<array>
			<string>皮</string>
			<string>平</string>
			<string>哦</string>
			<string>雨</string>
			<string>痛</string>
			<string>羊</string>
			<string>改</string>
			<string>湖</string>
			<string>奶</string>
			<string>坑</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>牛</string>
		<key>icon</key>
		<string>牛</string>
		<key>options</key>
		<array>
			<string>票</string>
			<string>太</string>
			<string>人</string>
			<string>问</string>
			<string>牛</string>
			<string>你</string>
			<string>锕</string>
			<string>百</string>
			<string>成</string>
			<string>跟</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>猪</string>
		<key>icon</key>
		<string>猪</string>
		<key>options</key>
		<array>
			<string>猪</string>
			<string>朱</string>
			<string>柱</string>
			<string>竹</string>
			<string>助</string>
			<string>珠</string>
			<string>注</string>
			<string>煮</string>
			<string>卧</string>
			<string>陪</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>鸭子</string>
		<key>icon</key>
		<string>鸭子</string>
		<key>options</key>
		<array>
			<string>雨</string>
			<string>呀</string>
			<string>丫</string>
			<string>鸭</string>
			<string>子</string>
			<string>爱</string>
			<string>奇</string>
			<string>饿</string>
			<string>猫</string>
			<string>够</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>狗</string>
		<key>icon</key>
		<string>狗</string>
		<key>options</key>
		<array>
			<string>请</string>
			<string>去</string>
			<string>千</string>
			<string>琪</string>
			<string>起</string>
			<string>其</string>
			<string>矮</string>
			<string>狗</string>
			<string>于</string>
			<string>男</string>
		</array>
	</dict>
</array>
</plist>
