<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>松树</string>
		<key>icon</key>
		<string>松树</string>
		<key>options</key>
		<array>
			<string>数</string>
			<string>树</string>
			<string>送</string>
			<string>松</string>
			<string>舒</string>
			<string>蛇</string>
			<string>傻</string>
			<string>树</string>
			<string>外</string>
			<string>咋</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>杨树</string>
		<key>icon</key>
		<string>杨树</string>
		<key>options</key>
		<array>
			<string>羊</string>
			<string>树</string>
			<string>提</string>
			<string>特</string>
			<string>塌</string>
			<string>杨</string>
			<string>拍</string>
			<string>找</string>
			<string>拿</string>
			<string>用</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>柳树</string>
		<key>icon</key>
		<string>柳树</string>
		<key>options</key>
		<array>
			<string>树</string>
			<string>溜</string>
			<string>榴</string>
			<string>硫</string>
			<string>丽</string>
			<string>没</string>
			<string>美</string>
			<string>仔</string>
			<string>柳</string>
			<string>杨</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>槐树</string>
		<key>icon</key>
		<string>槐树</string>
		<key>options</key>
		<array>
			<string>坏</string>
			<string>换</string>
			<string>化</string>
			<string>槐</string>
			<string>嘿</string>
			<string>哈</string>
			<string>数</string>
			<string>树</string>
			<string>怒</string>
			<string>木</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>梧桐树</string>
		<key>icon</key>
		<string>梧桐树</string>
		<key>options</key>
		<array>
			<string>树</string>
			<string>五</string>
			<string>无</string>
			<string>桐</string>
			<string>痛</string>
			<string>梧</string>
			<string>舒</string>
			<string>梧</string>
			<string>去</string>
			<string>狼</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>桑树</string>
		<key>icon</key>
		<string>桑树</string>
		<key>options</key>
		<array>
			<string>撒</string>
			<string>桑</string>
			<string>叁</string>
			<string>树</string>
			<string>赛</string>
			<string>涩</string>
			<string>请</string>
			<string>赢</string>
			<string>该</string>
			<string>还</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>梨树</string>
		<key>icon</key>
		<string>梨树</string>
		<key>options</key>
		<array>
			<string>里</string>
			<string>列</string>
			<string>俩</string>
			<string>猎</string>
			<string>梨</string>
			<string>荔</string>
			<string>树</string>
			<string>来</string>
			<string>蜡</string>
			<string>扒</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>枣树</string>
		<key>icon</key>
		<string>枣树</string>
		<key>options</key>
		<array>
			<string>咋</string>
			<string>资</string>
			<string>灾</string>
			<string>难</string>
			<string>枣</string>
			<string>乐</string>
			<string>欢</string>
			<string>树</string>
			<string>寺</string>
			<string>秒</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>桃树</string>
		<key>icon</key>
		<string>桃树</string>
		<key>options</key>
		<array>
			<string>特</string>
			<string>剃</string>
			<string>刀</string>
			<string>热</string>
			<string>爱</string>
			<string>桃</string>
			<string>树</string>
			<string>辉</string>
			<string>光</string>
			<string>咖</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>杏树</string>
		<key>icon</key>
		<string>杏树</string>
		<key>options</key>
		<array>
			<string>形</string>
			<string>涩</string>
			<string>甘</string>
			<string>脾</string>
			<string>胃</string>
			<string>省</string>
			<string>杏</string>
			<string>树</string>
			<string>木</string>
			<string>轮</string>
		</array>
	</dict>
</array>
</plist>
