<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>胡萝卜</string>
		<key>icon</key>
		<string>胡萝卜</string>
		<key>options</key>
		<array>
			<string>湖</string>
			<string>加</string>
			<string>罗</string>
			<string>箩</string>
			<string>萝</string>
			<string>波</string>
			<string>你</string>
			<string>卜</string>
			<string>慢</string>
			<string>难</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>青椒</string>
		<key>icon</key>
		<string>青椒</string>
		<key>options</key>
		<array>
			<string>请</string>
			<string>各</string>
			<string>人</string>
			<string>热</string>
			<string>青</string>
			<string>辣</string>
			<string>勒</string>
			<string>脚</string>
			<string>椒</string>
			<string>的</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>大葱</string>
		<key>icon</key>
		<string>葱</string>
		<key>options</key>
		<array>
			<string>答</string>
			<string>大</string>
			<string>从</string>
			<string>葱</string>
			<string>砍</string>
			<string>卡</string>
			<string>爱</string>
			<string>我</string>
			<string>溜</string>
			<string>喔</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>大白菜</string>
		<key>icon</key>
		<string>大白菜</string>
		<key>options</key>
		<array>
			<string>百</string>
			<string>白</string>
			<string>才</string>
			<string>步</string>
			<string>说</string>
			<string>花</string>
			<string>大</string>
			<string>号</string>
			<string>菜</string>
			<string>哇</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>茄子</string>
		<key>icon</key>
		<string>茄子</string>
		<key>options</key>
		<array>
			<string>二</string>
			<string>儿</string>
			<string>五</string>
			<string>去</string>
			<string>挖</string>
			<string>子</string>
			<string>切</string>
			<string>茄</string>
			<string>喊</string>
			<string>键</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>土豆</string>
		<key>icon</key>
		<string>土豆</string>
		<key>options</key>
		<array>
			<string>图</string>
			<string>吐 </string>
			<string>土</string>
			<string>团</string>
			<string>解</string>
			<string>就</string>
			<string>是</string>
			<string>逗</string>
			<string>比</string>
			<string>豆</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>西红柿</string>
		<key>icon</key>
		<string>西红柿</string>
		<key>options</key>
		<array>
			<string>戏</string>
			<string>洗 </string>
			<string>西</string>
			<string>红</string>
			<string>哄</string>
			<string>别</string>
			<string>赛</string>
			<string>车</string>
			<string>是</string>
			<string>柿</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>冬瓜</string>
		<key>icon</key>
		<string>冬瓜</string>
		<key>options</key>
		<array>
			<string>懂</string>
			<string>东</string>
			<string>冻</string>
			<string>冬</string>
			<string>古</string>
			<string>贵</string>
			<string>挂</string>
			<string>瓜</string>
			<string>还</string>
			<string>黑</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>豆角</string>
		<key>icon</key>
		<string>豆角</string>
		<key>options</key>
		<array>
			<string>就</string>
			<string>脚</string>
			<string>及</string>
			<string>角</string>
			<string>楷</string>
			<string>和</string>
			<string>豆</string>
			<string>器</string>
			<string>平</string>
			<string>一</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>黄瓜</string>
		<key>icon</key>
		<string>黄瓜</string>
		<key>options</key>
		<array>
			<string>美</string>
			<string>票</string>
			<string>两</string>
			<string>黄</string>
			<string>哈</string>
			<string>贰</string>
			<string>破</string>
			<string>瓜</string>
			<string>加</string>
			<string>日</string>
		</array>
	</dict>
</array>
</plist>
