<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>企鹅</string>
		<key>icon</key>
		<string>企鹅</string>
		<key>options</key>
		<array>
			<string>器</string>
			<string>齐</string>
			<string>琦</string>
			<string>企</string>
			<string>页</string>
			<string>月</string>
			<string>二</string>
			<string>珥</string>
			<string>鹅</string>
			<string>澳</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>大象</string>
		<key>icon</key>
		<string>大象</string>
		<key>options</key>
		<array>
			<string>答</string>
			<string>大</string>
			<string>项</string>
			<string>在</string>
			<string>呀</string>
			<string>象</string>
			<string>破</string>
			<string>鸥</string>
			<string>沤</string>
			<string>振</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>孔雀</string>
		<key>icon</key>
		<string>孔雀</string>
		<key>options</key>
		<array>
			<string>空</string>
			<string>箜</string>
			<string>孔</string>
			<string>义</string>
			<string>却</string>
			<string>瘸</string>
			<string>雀</string>
			<string>麻</string>
			<string>眼</string>
			<string>按</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>老虎</string>
		<key>icon</key>
		<string>老虎</string>
		<key>options</key>
		<array>
			<string>老</string>
			<string>来</string>
			<string>唻</string>
			<string>啦</string>
			<string>腊</string>
			<string>湖</string>
			<string>虎 </string>
			<string>会</string>
			<string>慧</string>
			<string>岸</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>梅花鹿</string>
		<key>icon</key>
		<string>梅花鹿</string>
		<key>options</key>
		<array>
			<string>录</string>
			<string>卢</string>
			<string>鹿</string>
			<string>花</string>
			<string>后</string>
			<string>图</string>
			<string>画</string>
			<string>没</string>
			<string>梅</string>
			<string>送</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>狮子</string>
		<key>icon</key>
		<string>狮子</string>
		<key>options</key>
		<array>
			<string>是</string>
			<string>师</string>
			<string>肆</string>
			<string>狮</string>
			<string>子</string>
			<string>猫</string>
			<string>买</string>
			<string>脉</string>
			<string>慢</string>
			<string>迈</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>熊猫</string>
		<key>icon</key>
		<string>熊猫</string>
		<key>options</key>
		<array>
			<string>凶</string>
			<string>戏</string>
			<string>艿</string>
			<string>嘛</string>
			<string>那</string>
			<string>子</string>
			<string>熊</string>
			<string>绿</string>
			<string>猫</string>
			<string>味</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>猴子</string>
		<key>icon</key>
		<string>猴子</string>
		<key>options</key>
		<array>
			<string>后</string>
			<string>岰</string>
			<string>七</string>
			<string>捡</string>
			<string>前</string>
			<string>子</string>
			<string>宏</string>
			<string>猴</string>
			<string>新</string>
			<string>腊</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>黑熊</string>
		<key>icon</key>
		<string>黑熊</string>
		<key>options</key>
		<array>
			<string>阿</string>
			<string>末</string>
			<string>猫</string>
			<string>呙</string>
			<string>案</string>
			<string>熊</string>
			<string>和</string>
			<string>黑</string>
			<string>核</string>
			<string>怕</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>长颈鹿</string>
		<key>icon</key>
		<string>长颈鹿</string>
		<key>options</key>
		<array>
			<string>嗄</string>
			<string>长</string>
			<string>陆</string>
			<string>鹿</string>
			<string>迫</string>
			<string>茶</string>
			<string>斤</string>
			<string>经</string>
			<string>颈</string>
			<string>趣</string>
		</array>
	</dict>
</array>
</plist>
